# Node.js modules
node_modules/

# Package lockfiles
# package-lock.json
npm-shrinkwrap.json

# Test coverage reports
coverage/

# Build output directories
build/
dist/

# Temporary files
tmp/
temp/
log/
*.log

# Temporary files created by editors
*.swp
*.tmp
*.bak

# IDE settings
.idea/
.vscode/

# Environment variables
env/

# Sensitive information
secrets.json